[Unit]
Description=wallaby-estop
After=local-fs.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/wallaby-estop

[Install]
WantedBy=graphical.target
